.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.HeaderContainer {
  margin: 8px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.Header {
  color: aqua;
  margin: 8px;
}
.Message {
  color: aqua;
  margin: 15px;
  flex-direction: column;
  display: inline;
  font-size: calc(15px + 2vmin);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: relative;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
